* {
    box-sizing: border-box;
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

main {
    align-items: center;
    background-color: #111;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    padding: 2rem;
    width: 100vw;
}

.containerTop {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.containerMiddle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.rowTop,
.rowBottom {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.containerCharacter {
    align-items: center;
    background-color: #333;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px 0 #00000050;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
    width: auto;
}

.image {
    border-radius: 1rem;
    height: 15vw;
    overflow: hidden;
    width: 10vw;
}

img {
    height: 100%;
    width: auto;
}

p {
    padding-top: 1rem;
}

.containerBottom {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

a {
    background-color: #9C0000;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px 0 #00000050;
    display: flex;
    justify-content: center;
    padding: 1rem;
    text-decoration: none;
    width: 8vw;
}

.fundo {
    align-items: center;
    background-color: #11111190;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
}

.modal {
    align-items: center;
    background-color: #333;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px 0 #00000050;
    display: flex;
    height: 50vh;
    justify-content: space-between;
    padding: 2rem;
    width: 50vw;
}

.modal p {
    text-align: center;
}

.columnRight {
    align-items: flex-start;
    display: flex;
    height: 100%;
    width: auto;
}

@media only screen and (max-width: 600px) {
    main {
        min-height: 100vw;
        height: auto;
    }

    .containerMiddle {
        padding: 1rem 0;
    }

    .rowTop,
    .rowBottom {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .image {
        height: 60vw;
        width: 40vw;
    }


    a {
        width: 40vw;
    }

    .modal {
        height: 60vh;
        width: 80vw;
    }
}